@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* product scss */
* {
  vertical-align: middle;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.max-width {
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.banner {
  background-image: url("https://bit.ly/2Qodh3Z");
  width: 100%;
  height: 496px;
  background-position: center center;
  background-size: cover;
  margin-bottom: 60px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category {
  width: 300px;
}

.category h3 {
  text-align: center;
  height: 65px;
  font-size: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  background-color: #3f5d45;
  color: #fff;
}

.category li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 24px;
  border: 1px solid #EAF0ED;
}

.category li a {
  color: #3f5d45;
  line-height: 65px;
  display: block;
}

.category li a:hover {
  background-color: #EAF0ED;
}

.products {
  width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products .pic1,
.products .pic2,
.products .pic3,
.products .pic4,
.products .pic5,
.products .pic6,
.products .pic7 {
  background-image: url("https://bit.ly/2QiWeQW");
  width: 300px;
  height: 315px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.products .pic2 {
  background-image: url("https://bit.ly/2zBjQuq");
}

.products .pic3 {
  background-image: url("https://bit.ly/2zKOP7w");
}

.products .pic4 {
  background-image: url("https://bit.ly/2NcDVuB");
}

.products .pic5 {
  background-image: url("https://bit.ly/2zBDAxX");
}

.products .pic6 {
  background-image: url("https://bit.ly/2zL5jN7");
}

.products .pic7 {
  background-image: url("https://bit.ly/2QbVsVR");
}

.products li {
  position: relative;
  margin-left: 18px;
  margin-bottom: 20px;
  border: 1px solid #EAF0ED;
}

.products .fa-heart {
  position: absolute;
  right: 22px;
  top: 19px;
  color: #3f5d45;
  font-size: 20px;
}

.products .fa-heart:hover {
  color: #EAF0ED;
}

.products .tag {
  position: absolute;
  height: 105px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-align: center;
  line-height: 36px;
  background-color: #3f5d45;
  color: #fff;
  top: 0;
  left: 20px;
  font-family: PingFangTC-Normel, sans-serif;
  letter-spacing: 3px;
}

.products .title {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3f5d45;
}

.products .title h2 {
  width: 173px;
  line-height: 56px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  font-family: PingFangTC-Light, sans-serif;
}

.products .title span {
  width: 127px;
  line-height: 56px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  border-left: 1px solid #EAF0ED;
}

.products .cart_btn {
  line-height: 65px;
  margin: auto;
  text-align: center;
  font-size: 24px;
  background-color: #EAF0ED;
}

.products .cart_btn a {
  color: #3f5d45;
  display: block;
}

.products .cart_btn a:hover {
  background-color: #3f5d45;
  color: #fff;
}

.page_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 60px;
}

.page_btn ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page_btn li {
  width: 60px;
  border: 1px solid #EAF0ED;
  line-height: 60px;
  margin: auto;
  text-align: center;
}

.page_btn li a {
  font-size: 20px;
  color: #3f5d45;
  display: block;
}

.page_btn li a:hover {
  background-color: #3f5d45;
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .container {
    width: 100%;
  }
  .banner {
    margin-bottom: 0;
  }
  .content {
    margin-bottom: 60px;
    display: block;
  }
  .content .category {
    font-weight: 500;
    width: 100%;
  }
  .content .products {
    width: 100%;
    display: block;
  }
  .content .products li {
    padding: 0;
    margin: 0;
  }
  .content .products li .pic1,
  .content .products li .pic2,
  .content .products li .pic3,
  .content .products li .pic4,
  .content .products li .pic5,
  .content .products li .pic6 {
    width: 100%;
  }
  .content .products li .title {
    width: 100%;
  }
  .content .products li .title h2 {
    width: 100%;
  }
  .page_btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .banner {
    margin-bottom: 0;
    max-width: 100%;
    height: 277px;
  }
  .content {
    margin-bottom: 0;
    display: block;
  }
  .content .category {
    font-weight: 500;
    width: 100%;
  }
  .content .products {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 30px;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .products li {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
  }
  .content .products li .pic1,
  .content .products li .pic2,
  .content .products li .pic3,
  .content .products li .pic4,
  .content .products li .pic5,
  .content .products li .pic6 {
    width: 100%;
  }
  .content .products li .title {
    width: 100%;
  }
  .content .products li .title h2 {
    width: 100%;
  }
  .page_btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_mail {
    display: block;
    padding: 30px 30px;
  }
  footer .footer_mail .footer_title {
    margin-bottom: 20px;
  }
  footer .footer_mail .mail {
    width: 100%;
  }
  footer .footer_mail .mail input {
    width: 80%;
  }
  footer .footer_mail .mail button {
    width: 20%;
  }
  footer .footer_layout {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
  }
  footer .footer_layout .logo {
    padding-bottom: 28px;
  }
  footer .footer_layout .icon {
    margin-bottom: 30px;
  }
  footer .footer_layout .footer_slogan {
    display: block;
  }
  footer .footer_layout .footer_slogan img {
    display: none;
  }
  footer .footer_layout .footer_slogan .cop {
    margin: 0;
    padding-bottom: 30px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  max-width: 940px;
  margin: 0 auto;
}

.home_container {
  max-width: 1024px;
  margin: 0 auto;
}

/* -------------- banner -------------- */
.home_banner {
  background-image: url("https://bit.ly/2OhbMHr");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 940px;
  height: 496px;
}

/* --------- 跟banner疊的MENU --------- */
.home_content {
  position: relative;
  top: -82px;
  max-width: 774px;
  margin: 0 auto;
}

.home_menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home_menu a {
  display: block;
  width: 100%;
  position: relative;
  height: 256px;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  overflow: hidden;
}

.homeMenu_li {
  width: 33.3333%;
  height: 256px;
}

.homeMenu_li .homeMenu_bgc_li {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.homeMenu_li .homeMenu_mask_li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.homeMenu_li .homeMenu_text_li {
  font-size: 24px;
  letter-spacing: 0.5rem;
}

.homeMenu_li .todays_bgc {
  background-image: url("https://bit.ly/2R5tqwD");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.homeMenu_li .todays_mask {
  background-color: #ffe180;
}

.homeMenu_li .todays_text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  color: #3f5d45;
}

.homeMenu_li .popular_bgc {
  background-image: url("https://bit.ly/2Dwoxd7");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.homeMenu_li .popular_mask {
  background-color: #3f5d45;
}

.homeMenu_li .popular_text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  color: #FFF;
}

.homeMenu_li .newproducts_bgc {
  background-image: url("https://bit.ly/2OUteif");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.homeMenu_li .newproducts_mask {
  background-color: #3f5d45;
}

.homeMenu_li .newproducts_text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  color: #FFF;
}

/*---------- hover -----------*/
.home_menu a:hover .homeMenu_bgc_li {
  -webkit-filter: blur(0);
          filter: blur(0);
}

/*------------ INFO ------------*/
.home_info_full_screen {
  width: 100%;
  background-color: #EAF0ED;
}

.sweets_info {
  width: 1024px;
  margin: 0 auto;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info1, .info2 {
  background-color: #EAF0ED;
  margin-bottom: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 42px;
  padding-right: 42px;
}

.info2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 95px;
}

.info3 {
  height: 330px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
}

.info3_slogan {
  background-image: url(../student-week1/lg-想吃甜點是不需要理由的.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 89px;
  height: 328px;
}

.info_photo {
  width: 460px;
  height: 460px;
  background-size: cover;
  background-position: center;
}

.photo1 {
  background-image: url("https://bit.ly/2xPn7Eq");
}

.photo2 {
  background-image: url("https://bit.ly/2zzAQS4");
}

.info_title {
  background-repeat: no-repeat;
  height: 307px;
  width: 89px;
  top: -17px;
}

.title1 {
  background-image: url(../student-week1/lg-為什麼選擇了做甜點.svg);
  -webkit-transform: translateY(-77px);
          transform: translateY(-77px);
}

.title2 {
  background-image: url(../student-week1/lg-為什麼一定要吃甜點.svg);
  -webkit-transform: translateY(-77px);
          transform: translateY(-77px);
  margin-right: 42px;
  margin-left: 60px;
}

.text_group {
  height: 279px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.text_group .chapter2, .text_group .chapter4 {
  margin-right: 40px;
}

.info_text {
  color: #8DA291;
  font-family: 'PingFang TC';
  font-weight: 300;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 2.4;
}

/* -------------- 產品 -------------- */
.products2 {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.products2 li {
  margin-left: 0;
}

.products2 .center_product {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 1023px) {
  .sweets_info {
    max-width: 940px;
  }
}

@media screen and (max-width: 939px) {
  header .logo_desk {
    padding-left: 10px;
  }
  .home_container {
    max-width: 939px;
    margin-bottom: -52px;
  }
  .home_info_full_screen {
    background-color: transparent;
  }
  .sweets_info {
    display: block;
    width: 100%;
    height: auto;
  }
  .info1, .info2 {
    background-color: transparent;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .info_photo {
    width: 100%;
    height: 360px;
    background-size: cover;
    background-position: center;
  }
  .photo1 {
    -webkit-transform: translateY(-330px);
            transform: translateY(-330px);
  }
  .text_group {
    display: block;
    background-color: #EAF0ED;
    padding: 30px;
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  .chapter2, .chapter4 {
    margin-top: 20px;
    margin-right: 0 !important;
  }
  .info_text {
    color: #8DA291;
    font-family: 'PingFang TC';
    font-weight: 300;
    -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
            writing-mode: initial;
    line-height: 2.4;
    width: 100%;
  }
  .group1 {
    -webkit-transform: translateY(330px);
            transform: translateY(330px);
  }
  .info_title, .title2, .title1, .info3_slogan {
    display: none;
  }
  .rwd_displaynone {
    display: none;
  }
  .rwd_info_title {
    height: 60px;
    width: 100%;
  }
  .rwd_title1 {
    background-image: url(../student-week1/sm-橫式-為什麼選擇了做甜點.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 60px;
  }
  .rwd_title2 {
    background-image: url(../student-week1/sm-橫式-為什麼一定要吃甜點.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
  .info3 {
    margin-bottom: 0;
  }
  .rwd_title3 {
    background-image: url(../student-week1/sm-橫式-想吃甜點是不需要理由的.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 414px) {
  .footer_mail .footer_title h5 {
    font-size: 20px !important;
  }
}

.header {
  max-width: 940px;
  margin: 0 auto;
}

.login_container {
  max-width: 780px;
  margin: 0 auto;
}

.login_container .login_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_container .login_content .member_login {
  width: 390px;
  background-color: #3f5d45;
  color: #EAF0ED;
  letter-spacing: 0.5px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.login_container .login_content .member_login h3 {
  font-size: 36px;
  text-align: center;
  color: #EAF0ED;
  padding: 40px 90px;
  line-height: 1.3;
}

.login_container .login_content .member_login .member_IDandPASS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login_container .login_content .member_login .member_IDandPASS .member_ID,
.login_container .login_content .member_login .member_IDandPASS .member_PASS {
  position: relative;
  border: none;
  margin-bottom: 16px;
  width: 330px;
  height: 56px;
  background-color: #EAF0ED;
  padding: 16px;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PingFang TC", "Light";
  font-size: 16px;
}

.login_container .login_content .member_login .member_IDandPASS .fa-user {
  position: relative;
  color: #3f5d45;
  left: -138px;
  top: 35px;
  z-index: 2222;
}

.login_container .login_content .member_login .member_IDandPASS .fa-key {
  position: relative;
  left: -138px;
  top: 35px;
  color: #3f5d45;
  z-index: 2222;
}

.login_container .login_content .member_login .member_IDandPASS input::-webkit-input-placeholder {
  color: #8da291;
}

.login_container .login_content .member_login .member_IDandPASS input:-ms-input-placeholder {
  color: #8da291;
}

.login_container .login_content .member_login .member_IDandPASS input::-ms-input-placeholder {
  color: #8da291;
}

.login_container .login_content .member_login .member_IDandPASS input::placeholder {
  color: #8da291;
}

.login_container .login_content .member_login .rememberMe {
  height: 16px;
  width: 16px;
  background-color: #EAF0ED;
  margin-left: 30px;
  display: inline-block;
  margin-bottom: 25px;
  cursor: pointer;
}

.login_container .login_content .member_login span {
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
  margin-left: 3px;
}

.login_container .login_content .member_login .login_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login_container .login_content .member_login .login_btn a {
  color: #3f5d45;
}

.login_container .login_content .member_login .login_btn button {
  background-color: #ffe180;
  padding: 16px 147px;
  border: none;
  font-size: 24px;
  color: #3f5d45;
  cursor: pointer;
  font-weight: 500;
  font-family: "PingFang TC", "semibold";
}

.login_container .login_content .member_login .login_btn button:hover {
  background-color: #EAF0ED;
  color: #8da291;
}

.login_container .login_content .sns_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
  width: 390px;
  height: 350px;
  background-color: #EAF0ED;
}

.login_container .login_content .sns_content .sns_title {
  font-size: 24px;
  font-family: "PingFang TC";
  font-weight: 300;
  color: #8da291;
  margin-bottom: 36px;
  padding-top: 20px;
}

.login_container .login_content .sns_content .facebook a,
.login_container .login_content .sns_content .google a,
.login_container .login_content .sns_content .yahoo a {
  width: 330px;
  height: 56px;
  background-color: #fff;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login_container .login_content .sns_content .facebook :hover,
.login_container .login_content .sns_content .google :hover,
.login_container .login_content .sns_content .yahoo :hover {
  background-color: #3f5d45;
}

.login_container .login_content .sns_content .facebook_bar {
  width: 40%;
}

.login_container .login_content .sns_content .google_bar,
.login_container .login_content .sns_content .yahoo_bar {
  width: 30%;
}

@media screen and (max-width: 786px) {
  .header {
    padding: 0;
  }
  .login_container {
    max-width: 786px;
  }
  .login_container .login_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login_container .login_content .member_login,
  .login_container .login_content .sns_content {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 413px) {
  .login_container {
    position: relative;
    max-width: 413px;
  }
  .login_container .login_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .login_container .login_content .member_login h3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .login_container .login_content .member_IDandPASS {
    padding-top: 135px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .login_container .login_content .member_IDandPASS .member_ID {
    margin-bottom: 0px !important;
  }
  .login_container .login_content .member_login .login_btn button {
    padding: 16px 139px;
  }
  .login_container .login_content .sns_content {
    position: absolute;
    top: 110px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 116px;
  }
  .login_container .login_content .sns_content .sns_title {
    display: none;
  }
  .login_container .login_content .sns_content .facebook a,
  .login_container .login_content .sns_content .google a,
  .login_container .login_content .sns_content .yahoo a {
    width: 105px;
    height: 56px;
    padding: 0;
    margin: 0;
  }
  .login_container .login_content .sns_content .google {
    border-right: 1px solid #EAF0ED;
    border-left: 1px solid #EAF0ED;
  }
  .login_container .login_content .sns_content .facebook_bar {
    width: 80%;
  }
  .login_container .login_content .sns_content .google_bar,
  .login_container .login_content .sns_content .yahoo_bar {
    width: 70%;
  }
}

@media screen and (max-width: 378px) {
  .login_container {
    position: relative;
    max-width: 378px;
  }
  .login_container .login_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .login_container .login_content .member_login h3 {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .login_container .login_content .member_IDandPASS {
    padding-top: 135px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .login_container .login_content .member_IDandPASS .member_ID {
    margin-bottom: 0px !important;
  }
  .login_container .login_content .member_login .login_btn button {
    padding: 16px 100px;
  }
  .login_container .login_content .sns_content {
    position: absolute;
    top: 95px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 116px;
  }
  .login_container .login_content .sns_content .sns_title {
    display: none;
  }
  .login_container .login_content .sns_content .facebook a,
  .login_container .login_content .sns_content .google a,
  .login_container .login_content .sns_content .yahoo a {
    width: 95px;
    height: 56px;
    padding: 0;
    margin: 0;
  }
  .login_container .login_content .sns_content .google {
    border-right: 1px solid #EAF0ED;
    border-left: 1px solid #EAF0ED;
  }
  .login_container .login_content .sns_content .facebook_bar {
    width: 80%;
  }
  .login_container .login_content .sns_content .google_bar,
  .login_container .login_content .sns_content .yahoo_bar {
    width: 70%;
  }
}

.payment_success_banner {
  width: 100%;
  height: 460px;
  background-image: url("https://bit.ly/2P7GhNd");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 60px;
}

.center_content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center_content .check_success_icon {
  position: relative;
  margin-bottom: 32px;
  font-size: 20px;
  color: #3f5d45;
}

.center_content .check_success_icon .cir2 {
  margin-left: 60px;
  margin-right: 60px;
}

.center_content .check_success_icon .check_border_r {
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #3f5d45;
  left: 20px;
  top: 10px;
}

.center_content .check_success_icon .check_border_l {
  position: absolute;
  width: 68px;
  height: 2px;
  background-color: #3f5d45;
  right: 20px;
  top: 10px;
}

.center_content .success {
  margin-bottom: 51px;
  z-index: 1000;
  height: 45px;
  width: 189px;
}

.center_content .continue_btn {
  width: 300px;
  height: 65px;
  background-color: #ffe180;
  border: none;
  cursor: pointer;
}

.center_content .continue_btn:hover {
  background-color: #3f5d45;
}

.center_content .continue_btn:hover a {
  color: #EAF0ED;
}

.center_content .continue_btn a {
  display: block;
  width: 100%;
  padding: 10px;
  color: #3f5d45;
  font-size: 24px;
  font-family: "PingFang TC", "semibold";
}

@media screen and (max-width: 767px) {
  .payment_success_banner {
    height: 518px;
    background-size: cover;
  }
  .center_content {
    position: relative;
  }
  .center_content .check_success_icon {
    margin: 0;
  }
  .center_content .success {
    margin: 0;
    margin-top: 33px;
  }
  .center_content .continue_btn {
    position: absolute;
    bottom: -60px;
    width: 100%;
  }
  footer .mail .submit {
    width: 64px;
  }
}

@media screen and (max-width: 320px) {
  footer .footer_mail .footer_title h5 {
    font-size: 21px;
  }
  footer .info h4 {
    font-size: 14px;
  }
  footer .footer_slogan .cop h2 {
    font-size: 14px;
  }
}

select:focus {
  outline: none;
}

* {
  font-family: "PingFang TC";
}

.checkout_container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 65px;
  font-family: "PingFang TC";
}

.deliver_form_container {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.deliver_form_container {
  color: #EAF0ED;
  margin-right: 18px;
  background-color: #3f5d45;
}

.shopping_details {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.deliver_form {
  padding: 30px 40px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.deliver_form input {
  font-family: "PingFang TC";
  font-size: 16px;
  font-weight: 300;
}

.deliver_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 40px;
}

.deliver_title h3 {
  font-size: 36px;
  color: #EAF0ED;
}

.checkout_step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 153px;
}

.checkout_step i {
  font-size: 20px;
  font-weight: lighter;
}

.checkout_step .step_line1, .checkout_step .step_line2 {
  position: absolute;
}

.checkout_step .step_line1, .checkout_step .step_line2 {
  width: 49px;
  height: 2px;
  background-color: #EAF0ED;
  top: 9px;
  left: 20px;
}

.checkout_step .step_line2 {
  left: 85px;
}

.form_firstname {
  margin-right: 8px;
}

.form_firstname p {
  margin-bottom: 10px;
  font-size: 20px;
}

.form_lastname p {
  font-size: 20px;
  margin-bottom: 10px;
}

.first_name_input,
.last_name_input {
  width: 186px;
  height: 56px;
  padding: 17px 20px;
  border: none;
  background-color: #EAF0ED;
  color: #3f5d45;
}

.first_name_input::-webkit-input-placeholder,
.last_name_input::-webkit-input-placeholder {
  color: #8da291;
  font-size: 16px;
}

.first_name_input:-ms-input-placeholder,
.last_name_input:-ms-input-placeholder {
  color: #8da291;
  font-size: 16px;
}

.first_name_input::-ms-input-placeholder,
.last_name_input::-ms-input-placeholder {
  color: #8da291;
  font-size: 16px;
}

.first_name_input::placeholder,
.last_name_input::placeholder {
  color: #8da291;
  font-size: 16px;
}

.form_tel {
  margin-top: 20px;
}

.form_tel p {
  margin-bottom: 8px;
  font-size: 20px;
}

.form_tel .tel_input {
  margin-top: 5px;
  font-size: 16px;
  color: #3f5d45;
  width: 380px;
  height: 56px;
  padding: 18px 20px;
  border: none;
  background-color: #EAF0ED;
}

.form_tel .tel_input::-webkit-input-placeholder {
  color: #8da291;
  font-size: 16px;
  font-family: "PingFang TC";
  font-weight: 300;
}

.form_tel .tel_input:-ms-input-placeholder {
  color: #8da291;
  font-size: 16px;
  font-family: "PingFang TC";
  font-weight: 300;
}

.form_tel .tel_input::-ms-input-placeholder {
  color: #8da291;
  font-size: 16px;
  font-family: "PingFang TC";
  font-weight: 300;
}

.form_tel .tel_input::placeholder {
  color: #8da291;
  font-size: 16px;
  font-family: "PingFang TC";
  font-weight: 300;
}

.form_address {
  margin-top: 20px;
}

.form_address p {
  margin-bottom: 10px;
  font-size: 20px;
}

.form_address .address_city {
  margin-right: 2.5px;
}

.form_address .address_city,
.form_address .address_section {
  width: 186px;
  height: 56px;
  border: none;
  background-color: #EAF0ED;
  padding: 18px 18px;
  font-size: 16px;
  font-family: "PingFang TC";
  color: #8da291;
  font-weight: 300;
}

.form_address .address_road {
  margin-top: 8px;
  width: 380px;
  height: 56px;
  border: none;
  font-family: "PingFang TC";
  color: #3f5d45;
  font-weight: 300;
  background-color: #EAF0ED;
  padding: 18px 21px;
}

.form_address .address_road::-webkit-input-placeholder {
  color: #8da291;
  font-size: 16px;
  font-family: "PingFang TC";
  font-weight: 300;
}

.form_address .address_road:-ms-input-placeholder {
  color: #8da291;
  font-size: 16px;
  font-family: "PingFang TC";
  font-weight: 300;
}

.form_address .address_road::-ms-input-placeholder {
  color: #8da291;
  font-size: 16px;
  font-family: "PingFang TC";
  font-weight: 300;
}

.form_address .address_road::placeholder {
  color: #8da291;
  font-size: 16px;
  font-family: "PingFang TC";
  font-weight: 300;
}

.next_step_btn {
  width: 100%;
  border: none;
  height: 65px;
  font-size: 24px;
  font-weight: 500;
  font-family: "PingFang TC";
  background-color: #ffe180;
}

.next_step_btn:hover {
  background-color: #EAF0ED;
}

.next_page {
  display: block;
  color: #3f5d45;
  width: 100%;
  line-height: 64px;
}

.next_page:hover {
  color: #8da291;
}

.shopping_details .order_content {
  width: 100%;
  background-color: transparent;
  color: #8da291;
  border: 2px solid #EAF0ED;
}

.shopping_details h3 {
  background-color: #EAF0ED;
}

.checkout_cart {
  width: 100%;
  margin-top: 20px;
  border: 2px solid #EAF0ED;
  padding-bottom: 16px;
}

.checkout_cart .checkout_cart_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  font-size: 24px;
  background-color: #EAF0ED;
  color: #8da291;
}

.checkout_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.checkout_product {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.checkout_cart_photo {
  width: 120px;
  height: 80px;
  background-position: center;
  background-size: cover;
  margin-left: 20px;
}

.photo_ccp1 {
  background-image: url("https://bit.ly/2QvsT63");
}

.photo_ccp2 {
  background-image: url("https://bit.ly/2zBDAxX");
}

.photo_ccp3 {
  background-image: url("https://bit.ly/2zKOP7w");
}

.checkout_cart_photo1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.checkout_product_name {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.checkout_product_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.checkout_product_name h3, .checkout_product_name p {
  background-color: transparent;
  color: #8da291;
}

.checkout_product_name h3 {
  font-weight: 300;
}

.checkout_product_name p {
  font-weight: 400;
  font-size: 20px;
  margin-top: 7px;
}

@media screen and (max-width: 733px) {
  .checkout_container {
    max-width: 733px;
  }
  .checkout_container .deliver_form_container {
    width: 100%;
    margin-right: 0;
  }
  .checkout_container .deliver_title {
    padding: 20px 30px;
  }
  .checkout_container .shopping_details {
    display: none;
  }
  .checkout_container form {
    padding: 20px 30px;
    width: 100%;
  }
  .checkout_container .form_firstname {
    width: 49.3%;
    margin-right: 1.7%;
  }
  .checkout_container .first_name_input {
    width: 100%;
  }
  .checkout_container .form_lastname {
    width: 49%;
  }
  .checkout_container .last_name_input {
    width: 100%;
  }
  .form_tel {
    width: 100%;
  }
  .form_tel .tel_input {
    width: 100%;
  }
  .form_address {
    width: 100%;
  }
  .form_address .address_city {
    width: 48.5%;
    margin-right: 1%;
  }
  .form_address .address_section {
    width: 49%;
  }
  .form_address .address_road {
    width: 100%;
  }
}

@media screen and (max-width: 412px) {
  .checkout_container {
    margin-bottom: 0;
  }
  .form_address {
    width: 100%;
  }
  .form_address .address_city {
    width: 48%;
    margin: 0;
  }
  .form_address .address_section {
    width: 50.1%;
  }
  .form_address .address_road {
    width: 100%;
  }
}

@media screen and (max-width: 338px) {
  .form_address {
    width: 100%;
  }
  .form_address .address_city {
    width: 48%;
    margin: 0;
  }
  .form_address .address_section {
    width: 50%;
  }
  .form_address .address_road {
    width: 100%;
  }
}

@media screen and (max-width: 324px) {
  .form_address {
    width: 100%;
  }
  .form_address .address_city {
    width: 48%;
    margin: 0;
  }
  .form_address .address_section {
    width: 49.9%;
  }
  .form_address .address_road {
    width: 100%;
  }
}

.pay_content {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.pay_content {
  color: #EAF0ED;
  margin-right: 18px;
  background-color: #3f5d45;
}

.pay_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 40px;
}

.pay_title h3 {
  font-size: 36px;
  color: #EAF0ED;
}

.pay_content input, .pay_content select {
  background-color: #EAF0ED;
  border: none;
  height: 56px;
  margin-bottom: 16px;
  padding: 17px 20px;
  color: #8da291;
  font-weight: 300;
  font-size: 16px;
}

.pay_content input::-webkit-input-placeholder {
  color: #8da291;
  font-size: 16px;
}

.pay_content input:-ms-input-placeholder {
  color: #8da291;
  font-size: 16px;
}

.pay_content input::-ms-input-placeholder {
  color: #8da291;
  font-size: 16px;
}

.pay_content input::placeholder {
  color: #8da291;
  font-size: 16px;
}

.pay_content form {
  width: 100%;
  padding: 14px 40px;
  padding-top: 0px;
}

.pay_content form p {
  margin-bottom: 10px;
}

.crdeit_card {
  width: 100%;
}

.crdeit_card .card_input {
  width: 100%;
}

.card_owner {
  width: 100%;
}

.card_owner .owner_firstname {
  width: 49%;
  margin-right: 2%;
}

.card_owner .owner_lastname {
  width: 49%;
}

.expiration_data {
  width: 100%;
}

.expiration_data .month {
  width: 49%;
  margin-right: 0.5%;
}

.expiration_data .years {
  width: 49%;
}

.security_code {
  width: 100%;
}

.security_code .security_code_input {
  width: 49%;
}

@media screen and (max-width: 733px) {
  .pay_content {
    margin-right: 0;
  }
  .expiration_data {
    width: 100%;
  }
  .expiration_data .month {
    width: 49%;
    margin-right: 0.8%;
  }
  .expiration_data .years {
    width: 49%;
  }
}

@media screen and (max-width: 431px) {
  .card_owner {
    width: 100%;
  }
  .card_owner .owner_firstname {
    width: 48.5%;
    margin-right: 1.5%;
  }
  .card_owner .owner_lastname {
    width: 49%;
  }
  .expiration_data {
    width: 100%;
  }
  .expiration_data .month {
    width: 48%;
    margin-right: 0;
  }
  .expiration_data .years {
    width: 49%;
  }
}

.receipt_content {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.receipt_content {
  color: #EAF0ED;
  margin-right: 18px;
  background-color: #3f5d45;
}

.receipt_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 40px;
}

.receipt_title h3 {
  font-size: 36px;
  color: #EAF0ED;
}

.receipt_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 56px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  margin-bottom: 44px;
}

.receipt_type .eGUI,
.receipt_type .paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.receipt_type .eGUI {
  width: 50%;
  border: 1px solid #EAF0ED;
  background-color: #EAF0ED;
  color: #3f5d45;
}

.receipt_type .paper {
  width: 50%;
  border: 1px solid #EAF0ED;
  border-left: none;
}

.receipt_type li:hover, .receipt_type li:focus {
  cursor: pointer;
  background-color: #EAF0ED;
  color: #3f5d45;
}

.eGUI_content {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;
}

.eGUI_content label {
  width: 100%;
}

.eGUI_content input {
  height: 56px;
  width: 100%;
  background-color: #EAF0ED;
  border: none;
  padding: 17px 20px;
  font-size: 16px;
  font-weight: 300;
  color: #8da291;
}

.eGUI_content input::-webkit-input-placeholder {
  color: #8da291;
}

.eGUI_content input:-ms-input-placeholder {
  color: #8da291;
}

.eGUI_content input::-ms-input-placeholder {
  color: #8da291;
}

.eGUI_content input::placeholder {
  color: #8da291;
}

.eGUI_content p {
  margin-bottom: 12px;
}

.eGUI_content .tax_ID p {
  margin-top: 20px;
}

.paper_content {
  display: none;
}

.paper_content {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;
}

.receipt_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.receipt_address input {
  width: 16px;
  height: 16px;
}

.receipt_address span {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tax_ID {
  font-size: 20px;
}

.tax_ID input {
  height: 56px;
  width: 100%;
  background-color: #EAF0ED;
  border: none;
  padding: 17px 20px;
  font-size: 16px;
  font-weight: 300;
  color: #8da291;
}

.tax_ID input::-webkit-input-placeholder {
  color: #8da291;
}

.tax_ID input:-ms-input-placeholder {
  color: #8da291;
}

.tax_ID input::-ms-input-placeholder {
  color: #8da291;
}

.tax_ID input::placeholder {
  color: #8da291;
}

.tax_ID p {
  margin-top: 20px;
  margin-bottom: 12px;
}

@media screen and (max-width: 733px) {
  .receipt_content {
    margin-right: 0;
  }
  .checkout_container .paper_content form {
    padding: 0px;
  }
  .checkout_container .eGUI_content form {
    padding: 0;
  }
}

@media screen and (max-width: 492px) {
  .paper_content .address_city {
    width: 48.5%;
  }
  .paper_content .address_section {
    width: 48.5%;
  }
}

.cart_container {
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}

/*----------- 購物清單 -----------*/
.cart_content_RWD {
  display: none;
}

.cart_content {
  font-family: "PingFang TC";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 65%;
  margin-right: 3%;
}

.cart_content h2 {
  height: 65px;
  background-color: #EAF0ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3f5d45;
  font-size: 24px;
  font-family: "PingFang TC";
  font-weight: 500;
  margin-bottom: 33px;
}

.cart_product_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3f5d45;
  padding-bottom: 20px;
  border-bottom: 1px solid #EAF0ED;
}

.cart_product_list2,
.cart_product_list3 {
  padding-top: 20px;
}

.cart_product_list3 {
  border-bottom: none;
  margin-bottom: 40px;
}

.cart_photo {
  width: 110px;
  height: 110px;
  background-position: center;
  background-size: cover;
}

.cart_photo1 {
  background-image: url("https://bit.ly/2QvsT63");
}

.cart_photo2 {
  background-image: url("https://bit.ly/2zBDAxX");
}

.cart_photo3 {
  background-image: url("https://bit.ly/2zKOP7w");
}

.cart_product_name {
  font-size: 20px;
  font-weight: 300;
}

.cart_product_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_product_num li {
  cursor: pointer;
  color: #8da291;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid #EAF0ED;
}

.cart_product_num .minus_btn:hover,
.cart_product_num .plus_btn:hover {
  background-color: #3f5d45;
  color: #EAF0ED;
}

.cart_product_num .nopointer {
  cursor: initial;
}

.cart_product_price {
  font-size: 20px;
  font-weight: 500;
}

.cart_product_delet {
  color: #8da291;
  cursor: pointer;
}

.cart_product_delet i:hover {
  color: #3f5d45;
}

/*----------- 訂購明細 -----------*/
.order_content {
  width: 32%;
  background-color: #3f5d45;
  color: #EAF0ED;
}

.order_content button {
  width: 100%;
  height: 65px;
  background-color: #ffe180;
  border: none;
  font-family: "PingFang TC";
  font-size: 24px;
  cursor: pointer;
}

.order_content button:hover {
  background-color: #EAF0ED;
  color: #8da291;
}

.order_content button:focus {
  background-color: #EAF0ED;
  color: #8da291;
}

.order_content button a {
  color: #3f5d45;
  width: 100%;
  display: block;
  padding: 10px;
}

.order_info_title {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

.order_info_title::after {
  content: "";
  width: 90%;
  height: 1px;
  margin-top: 16px;
  background-color: rgba(234, 240, 237, 0.7);
}

.order_subtotal,
.order_shoppingfee,
.order_total {
  padding: 16px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "PingFang TC";
}

.order_subtotal,
.order_shoppingfee {
  font-weight: 300;
}

.order_total {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .cart_container {
    max-width: 767px;
    margin: 0 auto;
    display: block;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 30px;
  }
  .cart_content {
    width: 100%;
    margin-right: 0;
  }
  .cart_product_list {
    padding: 10px;
  }
  .order_content {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .order_subtotal,
  .order_shoppingfee,
  .order_total {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 650px) {
  .cart_container {
    max-width: 650px;
  }
  .cart_content_desk {
    display: none;
  }
  .cart_content_RWD {
    display: block;
  }
  .rwd_product_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
  .rwd_product_content {
    margin-bottom: 10px;
  }
  .cart_photo1,
  .cart_photo2,
  .cart_photo3 {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
  .rwd_list_name_num {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .rwd_list_name_num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 20px;
  }
  .cart_product_list {
    display: block;
    border: none;
    padding-right: 30px;
    padding-left: 30px;
  }
  .cart_product_price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-top: 1px solid #EAF0ED;
    border-bottom: 1px solid #EAF0ED;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .cart_content .cart_content_title {
    margin-bottom: 20px;
  }
  .order_content {
    background-color: transparent;
  }
  .order_info_title {
    margin-left: 30px;
    margin-right: 30px;
    background-color: #EAF0ED;
    color: #3f5d45;
    font-weight: 500;
    font-family: "PingFang TC";
    margin-top: 20px;
  }
  .order_subtotal,
  .order_shoppingfee,
  .order_total {
    color: #3f5d45;
  }
  .order_content {
    width: 100%;
    margin-bottom: 0;
  }
  .cart_container {
    margin-top: 0;
  }
}

textarea:focus, input:focus, button:focus {
  outline: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'PingFang TC','semibold';
}

header .menu_list {
  display: none;
}

header .logo_desk a {
  background: url(../student-week1/logo-all-dark.svg) no-repeat 50% 50%;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  width: 219px;
  height: 100px;
}

header .logo_rwd {
  display: none;
  margin-left: 10px;
}

header .logo_rwd a {
  background: url(../student-week1/logotype-sm-dark.svg) no-repeat 50% 50%;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  width: 114px;
  height: 80px;
}

header .nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav_container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav_container .nav a {
  display: block;
  line-height: 80px;
  padding-right: 40px;
  padding-left: 40px;
  font-weight: 500;
  color: #3f5d45;
}

header .nav_container .nav a:hover {
  color: #fff;
  background-color: #3f5d45;
}

header .nav_container .cart_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 44px;
  padding-right: 44px;
  text-align: center;
  color: #3f5d45;
  height: 80px;
  font-size: 18px;
}

header .nav_container .cart_icon:hover {
  background-color: #3f5d45;
  color: #FFF;
}

.footer_mail {
  max-width: 940px;
  margin: 0 auto;
  padding: 30px 122px;
  background-color: #3f5d45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_mail .footer_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_mail .footer_title img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.footer_mail .footer_title h5 {
  color: #EAF0ED;
  font-weight: 300;
  font-size: 24px;
  font-family: 'Helvetica Neue','Ragular';
}

.footer_mail .mail {
  position: relative;
  font-size: 0px;
  width: 380px;
  height: 56px;
}

.footer_mail .mail .mail_pic {
  /*icon*/
  position: absolute;
  top: 16px;
  left: 20px;
}

.footer_mail .mail input {
  background-color: #EAF0ED;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 60px;
  font-size: 18px;
  height: 100%;
  width: 316px;
  color: #3f5d45;
}

.footer_mail .mail button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffe180;
  width: 64px;
  height: 100%;
}

.footer_mail .mail .submit:hover {
  background-color: #ffd54d;
  cursor: pointer;
}

.footer_mail .mail .submit:focus {
  outline: none;
}

.footer_mail_container {
  background-color: #3f5d45;
}

.footer_container {
  background-color: #EAF0ED;
}

.footer_layout {
  max-width: 940px;
  margin: 0 auto;
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EAF0ED;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 122px;
  padding-right: 122px;
}

.footer_layout .logo {
  width: 55%;
  padding-top: 38px;
  padding-bottom: 115px;
}

.footer_layout .info {
  line-height: 1.5;
  color: #3f5d45;
  margin-bottom: 20px;
}

.footer_layout .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_layout .icon img {
  display: block;
  width: 32px;
  margin-right: 8px;
}

.footer_layout .icon .ic-line:hover,
.footer_layout .icon .ic-facebook:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.footer_layout .footer_slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer_layout .footer_slogan img {
  width: 60px;
  height: 219px;
  margin-top: 30px;
  position: relative;
}

.footer_layout .footer_slogan .cop {
  font-family: Times;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
  color: #3f5d45;
}

@media screen and (max-width: 1023px) {
  footer .footer_mail {
    display: block;
    padding: 30px 60px;
  }
  footer .footer_mail .footer_title {
    margin-bottom: 20px;
  }
  footer .footer_mail .mail {
    width: 100%;
  }
  footer .footer_mail .mail input {
    width: 90%;
  }
  footer .footer_mail .mail button {
    width: 10%;
  }
  footer .footer_layout {
    padding-left: 60px;
    padding-right: 60px;
  }
}

textarea:focus, input:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  header .nav_container .cart_icon {
    padding-left: 36px;
    padding-right: 38px;
  }
  header a {
    height: 80px;
  }
  header .menu_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    color: #3f5d45;
    height: 80px;
    font-size: 18px;
  }
  header .menu_list:hover {
    background-color: #3f5d45;
    color: #FFF;
  }
  header .menu_list:hover {
    color: #FFF;
    background-color: #3f5d45;
  }
  header .logo_desk {
    display: none;
  }
  header .logo_rwd {
    display: block;
  }
  header .dis_n {
    display: none;
  }
  header .nav {
    margin-right: 0;
  }
  footer .footer_mail {
    display: block;
    padding: 30px 30px;
  }
  footer .footer_mail .footer_title {
    margin-bottom: 20px;
  }
  footer .footer_mail .mail {
    width: 100%;
  }
  footer .footer_mail .mail input {
    width: 80%;
  }
  footer .footer_mail .mail button {
    width: 18%;
  }
  footer .footer_layout {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
  }
  footer .footer_layout .logo {
    padding-bottom: 28px;
  }
  footer .footer_layout .icon {
    margin-bottom: 30px;
  }
  footer .footer_layout .footer_slogan {
    display: block;
  }
  footer .footer_layout .footer_slogan img {
    display: none;
  }
  footer .footer_layout .footer_slogan .cop {
    margin: 0;
    padding-bottom: 30px;
  }
  textarea:focus, input:focus {
    outline: none;
  }
}
/*# sourceMappingURL=all.css.map */