.receipt_content {
  flex: 3;
}
.receipt_content {
  color: $sub_color;
  margin-right: 18px;
  background-color: $main_color;
}
.receipt_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  h3 {
    font-size: 36px;
    color: $sub_color;
  }
}
.receipt_type {
  display: flex;
  width: 100%;
  height: 56px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  margin-bottom: 44px;
  .eGUI,
  .paper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .eGUI {
    width: 50%;
    border: 1px solid $sub_color;
    background-color: $sub_color;
    color: $main_color;
  }
  .paper {
    width: 50%;
    border: 1px solid $sub_color;
    border-left: none;
  }
  li:hover,li:focus {
    cursor: pointer;
    background-color: $sub_color;
    color: $main_color;
  }
}
.eGUI_content {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;
  label {
    width: 100%;
  }
  input {
    height: 56px;
    width: 100%;
    background-color: $sub_color;
    border: none;
    padding: 17px 20px;
    font-size: 16px;
    font-weight: 300;
    color: $text_color;
    &::placeholder {
      color: $text_color;
    }
  }
  p {
    margin-bottom: 12px;
  }
  .tax_ID {
    p{
      margin-top: 20px;
    }
  }
}
.paper_content {
  display: none;
}
.paper_content {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;
}
.receipt_address {
  display: flex;
  justify-content: space-between;
  input {
    width: 16px;
    height: 16px;
  }
  span {
    font-size: 16px;
    display: flex;
    align-items: center;
  }
}
.tax_ID {
  font-size: 20px;
  input {
    height: 56px;
    width: 100%;
    background-color: $sub_color;
    border: none;
    padding: 17px 20px;
    font-size: 16px;
    font-weight: 300;
    color: $text_color;
    &::placeholder {
      color: $text_color;
    }
  }
  p {
    margin-top: 20px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 733px){
  .receipt_content {
    margin-right: 0;
  }
  .checkout_container .paper_content form{
    padding: 0px;
  }
  .checkout_container .eGUI_content form {
    padding: 0;
  }
}
@media screen and (max-width:492px) {
 
  .paper_content {
    .address_city {
      width: 48.5%;
    }
    .address_section {
      width: 48.5%;
    }
  }

}