.cart_container {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}

/*----------- 購物清單 -----------*/
.cart_content_RWD {
  display: none;
}
.cart_content {
  font-family: "PingFang TC";
  box-sizing: border-box;
  width: 65%;
  margin-right: 3%;

  // 標題：您的購物車
  h2 {
    height: 65px;
    background-color: $sub_color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main_color;
    font-size: 24px;
    font-family: "PingFang TC";
    font-weight: 500;
    margin-bottom: 33px;
  }
}

// 購物車 產品列
.cart_product_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $main_color;
  padding-bottom: 20px;
  border-bottom: 1px solid $sub_color;
}
.cart_product_list2,
.cart_product_list3 {
  padding-top: 20px;
}
.cart_product_list3 {
  border-bottom: none;
  margin-bottom: 40px;
}
// 圖片
.cart_photo {
  width: 110px;
  height: 110px;
  background-position: center;
  background-size: cover;
}
.cart_photo1 {
  background-image: url("https://bit.ly/2QvsT63");
}
.cart_photo2 {
  background-image: url("https://bit.ly/2zBDAxX");
}
.cart_photo3 {
  background-image: url("https://bit.ly/2zKOP7w");
}

// 產品名稱和價格
.cart_product_name {
  font-size: 20px;
  font-weight: 300;
}

//數量選擇
.cart_product_num {
  display: flex;
  li {
    cursor: pointer;
    color: $text_color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid $sub_color;
  }
  .minus_btn:hover,
  .plus_btn:hover {
    background-color: $main_color;
    color: $sub_color;
  }
  .nopointer {
    cursor: initial;
  }
}

//總價
.cart_product_price {
  font-size: 20px;
  font-weight: 500;
}

//刪除商品
.cart_product_delet {
  color: $text_color;
  cursor: pointer;
  i:hover {
    color: $main_color;
  }
}

/*----------- 訂購明細 -----------*/
.order_content {
  width: 32%;
  background-color: $main_color;
  color: $sub_color;
  button {
    width: 100%;
    height: 65px;
    background-color: $color_yellow;
    border: none;
    font-family: "PingFang TC";
    font-size: 24px;
    cursor: pointer;

    &:hover {
      background-color: $sub_color;
      color: $text_color;
    }
    &:focus {
      background-color: $sub_color;
      color: $text_color;
    }

    a {
      color: $main_color;
      width: 100%;
      display: block;
      padding: 10px;
    }

  }
}
.order_info_title {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  &::after {
    content: "";
    width: 90%;
    height: 1px;
    margin-top: 16px;
    background-color: rgba($sub_color, 0.7);
  }
}
.order_subtotal,
.order_shoppingfee,
.order_total {
  padding: 16px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  font-family: "PingFang TC";
}
.order_subtotal,
.order_shoppingfee {
  font-weight: 300;
}
.order_total {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .cart_container {
    max-width: 767px;
    margin: 0 auto;
    display: block;
    align-items: flex-start;
    margin-top: 30px;
  }
  .cart_content {
    width: 100%;
    margin-right: 0;
  }
  .cart_product_list {
    padding: 10px;
  }
  .order_content {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .order_subtotal,
  .order_shoppingfee,
  .order_total {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 650px) {
  .cart_container {
    max-width: 650px;
  }
  .cart_content_desk {
    display: none;
  }
  .cart_content_RWD {
    display: block;
  }
  .rwd_product_content {
    display: flex;
    flex: 4;
  }
  .rwd_product_content {
    margin-bottom: 10px;
  }
  .cart_photo1,
  .cart_photo2,
  .cart_photo3 {
    flex: 1.5;
  }
  .rwd_list_name_num {
    flex: 2;
  }
  .rwd_list_name_num {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }
  .cart_product_list {
    display: block;
    border: none;
    padding-right: 30px;
    padding-left: 30px;
  }
  .cart_product_price {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $sub_color;
    border-bottom: 1px solid $sub_color;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .cart_content .cart_content_title {
    margin-bottom: 20px;
  }

  .order_content {
    background-color: transparent;
  }
  .order_info_title {
    margin-left: 30px;
    margin-right: 30px;
    background-color: $sub_color;
    color: $main_color;
    font-weight: 500;
    font-family: "PingFang TC";
    margin-top: 20px;
  }
  .order_subtotal,
  .order_shoppingfee,
  .order_total {
    color: $main_color;
  }
  .order_content {
    width: 100%;
    margin-bottom: 0;
  }
  .cart_container{
    margin-top: 0;
  }
}
